
/*==== GENERAL ====*/

.header {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') repeat 70% center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: table;
}

#main-info {
  display: table-cell;
  vertical-align: middle;
}

#main-info-text {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

#main-info-text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

.header-tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.header-date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.header-date::before,
.header-date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

.header-tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

* {
  box-sizing: border-box;
}

body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #444349;
}

h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}


#locations,
#program,
#gifts,
#faq,
#contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}


h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

/* =============================

      LOCATIONS STYLES

=============================*/

.alapinfo img {
  height: 7.5rem;
}

.alapinfo h3 {
  font-weight: 700;
}

.alapinfo div {
  font-family: 'Muli', sans-serif;
}


.alapinfo::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #444349;
}

/* =============================

        PROGRAM STYLES

=============================*/

#program {
  width: 100vw;
  text-align: left;
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
}

#program h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}

#program p {
  font-style: italic;
}

#program ul {
  letter-spacing: .025rem;
}

/* =============================

        GIFTS STYLES

=============================*/

#gifts-details img {
  height: 7.5rem;
}

#gifts-details p:last-child {
  margin-bottom: 0;
}

/* =============================

        Q-AND-A STYLES

=============================*/

#q-and-a {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
  text-align: center;
  padding: 0.2em;
}

#q-and-a h2 {
  margin-top: 1rem;
}

#q-and-a p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.questions {
  padding: 1rem;
  font-size: 1rem;
}

.questions::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

.q-and-a-bold {
  font-weight: 700;
  margin-bottom: .5rem;
}

.q-and-a-regular {
  margin-bottom: 1.5rem;
}

/* =============================

        FOOTER STYLES

=============================*/

footer {
  background: #606060;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
  height: 10vh;
  width: 100vw;
  font-family: 'Muli', sans-serif;
  display: table;
  padding: .5rem 1rem;
    font-weight: 700;
}

#footer-content {
  display: table-cell;
  vertical-align: middle;

}

#footer-content p {
  margin-bottom: 0;
}

#footer-content small {
  line-height: 1.5;
}

/*Header  media settings*/

@media (min-width: 768px) {

  .header {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }

}

@media (min-width: 768px) {

  #main-info-text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }

  #main-info-text h1 {
    font-size: 7rem;
  }

}

@media (min-width: 768px) {

  .header-tagline {
    text-transform: uppercase;
  }

}

/*Locations media settings*/

@media (min-width: 768px) {

  .alapinfo {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }

  .alapinfo::after {
    display: none;
  }

}

/*Programs media settings*/

@media (min-width: 768px) {

  #program_details {
    width: 30vw;
    margin: 0 auto;
  }

}

/*Q-and-A media settings*/

@media (min-width: 768px) {

  .questions {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }

  .questions::after {
    display: none;
  }

  .questions h3 {
    text-align: left;
  }

}

/*Footer media settings*/

@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}